body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg-hearts.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-color: black; 
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
}

#subContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background for visibility */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; /* Optional: add rounded corners */
    text-align: center;
}

#subContent h1, #subContent p {
    margin: 10px 0;
}

#subContent input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
}

#subContent button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#subContent button:hover {
    background-color: #ff1493;
}

#resultMessage, #result-percentage {
    margin: 10px 0;
    font-size: 1.2em;
    color: white;

}
